@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,400&family=Roboto:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.editor {
  min-height: 200px;
  max-height: 200px;
  overflow: auto;
  padding-top: 5px;
}

.public-DraftEditor-content .public-DraftStyleDefault-block {
  margin: 0;
  padding: 0;
}

.editor-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.rdw-link-modal,
.rdw-image-modal,
.rdw-emoji-modal {
  top: auto !important;
  bottom: 25px !important;
}

.ck.ck-reset.ck-editor {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.ck.ck-editor__main > .ck-editor__editable {
  height: 200px;
}

.ck.ck-editor .ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck-sticky-panel__content {
  height: 54px;
}

.ck-focused,
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  border: none;
  border: none;
  outline: none !important;
  -moz-outline: none !important;
  -webkit-outline: none !important;
  -ms-outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ck-editor__editable_inline {
  min-height: 400px;
}

.markdown-overrides h1 {
  margin-top: 0 !important;
  font-size: 2em !important;
}

.markdown-overrides h2 {
  margin-top: 0 !important;
  font-size: 1.5em !important;
}

.markdown-overrides h3 {
  margin-top: 0 !important;
  font-size: 1.17em !important;
}

.markdown-overrides strong {
  font-weight: bolder !important;
}

.markdown-overrides mark {
  background-color: yellow !important;
}

.markdown-overrides ul {
  list-style: initial !important;
}

.markdown-overrides ol {
  list-style: decimal !important;
}

.markdown-overrides {
  overflow: auto;
  margin-bottom: 1em;
}

.markdown-overrides > div {
  height: inherit !important;
  overflow: auto;
}

.markdown-overrides span {
  z-index: 30 !important;
}

.fix-editor {
  padding-right: 0.5em;
}

.onesignal-bell-launcher-button {
  display: none !important;
}

.comment-editor {
  height: 12rem !important;
}

.custom-select > div {
  border: none !important;
  border-width: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  margin-left: -5px !important;
  min-width: 15rem;
}
